*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
.header{
  border-bottom: 0.0625rem solid #dddddd;
}
.container{
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.logo{
  display: inline-block;
  vertical-align: middle;
}
.logo img{
  width: 2.375rem;
}
.nav{
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.5625rem;
}
.menu{
  list-style: none;
}
.menu>li{
  display: inline-block;
  position: relative;
  margin-right: 1.5625rem;
}
.menu > li> a{
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  padding: 0.375rem 0;
  display: inline-block;
}
.menu > li:hover > a{
  color: #d62828;
  border-bottom: 0.125rem solid #d62828;
}
.submenu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 12.5rem;
  background: #ffffff;
  border: 0.0625rem solid #dddddd;
  list-style: none;
  z-index: 10;
  display: none;
}
.menu > li:hover .submenu{
  display: block;
}
.submenu li a {
  display: block;
  padding: 0.375rem 0.625rem;
  text-decoration: none;
  color: #333333;
}
.submenu li:hover > a{
  background: #f5f5f5;
  color: #d62828;
}
.has-submenu{
  position: relative;
}
.submenu-2{
  position: absolute;
  top: 0;
  left: 100%;
  width: 12.5rem;
  background: #ffffff;
  border: 0.0625rem solid #dddddd;
  display: none;
}
.submenu-2 li{
  list-style: none;
}
.has-submenu:hover .submenu-2{
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;

  border-left: 0.3125rem solid transparent;  
  border-right: 0.3125rem solid transparent;  
  border-top: 0.3125rem solid #555555;        

  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3125rem;
}

.arrow-right {
  position: absolute;
  right: 0.625rem; /* 10px */
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  height: 0;

  border-left: 0.3125rem solid #777777;        
  border-top: 0.3125rem solid transparent;    
  border-bottom: 0.3125rem solid transparent; 
}